<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="icon" href="static/images/lock1.png" type="png">
</head>
<body>

  
<header>
  <h1>Affine Cipher</h1>
</header>


<div class="main" style="margin-top: -20px;">
    <form method="POST" class="button-container">
        <label for="plaintext">Plaintext:</label>
        <input type="text" name="plaintext" id="plaintext" class="letters-only" title="letters only!" required><br>
        
        <label for="a">a:</label>
        <input type="text" name="a" id="a" class="numbers-only" title="numbers only!" required><br>
        
        <label for="b">b:</label>
        <input type="text" name="b" id="b" class="numbers-only" title="numbers only!" required><br>
        
        <label for="operation">Operation:</label>
        <select name="operation" id="operation">
            <option value="encrypt">Encrypt</option>
            <option value="decrypt">Decrypt</option>
            <option value="decrypt2">Decryptv2</option>
        </select><br>
        
        <input type="submit" value="Submit" class="button">
        
    </form>
    
    {% if result %}
    <div class="result-container">
        <h3>Result:</h3>
        <p>{{ result }}</p>
    </div>
    {% endif %}
</div>

<footer>
    <p>Project by: Samer Saade - Charbel-Toumieh - Saadallah Itani - Ibrahim Harmoush</p>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {
  const numberOnlyInputs = document.querySelectorAll('.numbers-only');

  numberOnlyInputs.forEach(input => {
    input.addEventListener('keypress', function(event) {
      const regex = /[0-9]/;
      const key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
      if (!regex.test(key)) {
        event.preventDefault();
        return false;
      }
    });

    input.addEventListener('input', function() {
      this.value = this.value.replace(/[^0-9]/g, '');
    });
  });
});

document.addEventListener('DOMContentLoaded', function() {
  const letterOnlyInputs = document.querySelectorAll('.letters-only');

  letterOnlyInputs.forEach(input => {
    input.addEventListener('keypress', function(event) {
      const regex = /[a-zA-Z]/;
      const key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
      if (!regex.test(key)) {
        event.preventDefault();
        return false;
      }
    });

    input.addEventListener('input', function() {
      this.value = this.value.replace(/[^a-zA-Z]/g, '');
    });
  });
});


</script>
</body>
</html>
