<!DOCTYPE html>
<html>
<head>
    <title>Mono-Alphabetic Cipher</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/lock1.png" type="png">
</head>
<body>

<header>
    <h1>Mono-Alphabetic Cipher</h1>
</header>

<div class="main">
    <form method="POST" class="button-container">
      <label for="plaintext">Plaintext (letters only):</label>
      <input type="text" name="plaintext" id="plaintext" class="letters-only" required>
      <span class="warning" id="plaintextWarning" style="display: none; color: red;">Letters only, please.</span><br>
      
      <label for="key">Key (26 letters):</label>
      <input type="text" name="key" id="key" class="letters-only" pattern="[A-Za-z]{26}" title="Key must be 26 letters without repeating characters" required>
      <span class="warning" id="keyWarning" style="display: none; color: red;">Letters only, please.</span><br>
        <small id="keyWarning" style="color: red; display: none;">Letters only, please.</small>

        <label for="operation">Operation:</label>
        <select name="operation" id="operation">
            <option value="encrypt">Encrypt</option>
            <option value="decrypt">Decrypt</option>
        </select><br>

        <input type="submit" value="Submit" class="button">
    </form>

    {% if result %}
    <div class="result-container">
        <h3>Result:</h3>
        <p>{{ result }}</p>
    </div>
    {% endif %}
</div>

<footer>
    <p>Project by: Samer Saade - Charbel-Toumieh - Saadallah Itani - Ibrahim Harmoush</p>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const letterOnlyInputs = document.querySelectorAll('.letters-only');
  
    letterOnlyInputs.forEach(input => {
      input.addEventListener('input', function() {
        // Check if the current value contains non-letter characters
        if (this.value.match(/[^a-zA-Z]/)) {
          // If there are non-letter characters, show the warning
          this.nextElementSibling.style.display = 'block';
        } else {
          // If there are only letters, hide the warning
          this.nextElementSibling.style.display = 'none';
        }
      });
    });
  });
  </script>
  
</body>
</html>