<!DOCTYPE html>
<html>
<head>
    <title>Playfair Cipher</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/lock1.png" type="png">

</head>
<body>

  <header>
    <h1>Playfair Cipher</h1>
</header>

<div class="main">
  <form method="POST" class="button-container">
    <label for="plaintext">Plaintext (letters only):</label>
    <input type="text" id="plaintext" name="plaintext" class="letters-only" title="Letters only!" style="margin-bottom: -11px;" required><br>
    <span class="warning" id="plaintextWarning" style="display: none; color: red;">Letters only, please.</span><br>
    <label for="key">Key:</label>
    <input type="text" id="key" name="key" class="letters-only" title="Letters only!" required><br>
    <span class="warning" id="keyWarning" style="display: none; color: red;">Letters only, please.</span><br>
    <label for="operation">Operation:</label>
    <select id="operation" name="operation">
      <option value="encrypt">Encrypt</option>
      <option value="decrypt">Decrypt</option> 
    </select><br>

    <input type="submit" value="Submit" class="button">
  </form>

  {% if result %}
    <div class="result-container">
      <h3>Result:</h3> 
      <p>{{ result }}</p>
    </div>
  {% endif %}
</div>

<footer>
    <p>Project by: Samer Saade - Charbel-Toumieh - Saadallah Itani - Ibrahim Harmoush</p>
</footer>

<script>

    // Letters only fields with warning
    const letterOnlyInputs = document.querySelectorAll('.letters-only');
    letterOnlyInputs.forEach(input => {
      const warningId = input.id + 'Warning'; // Assumes input has an id
      input.addEventListener('input', function() {
        // Check if the current value contains non-letter characters
        if (this.value.match(/[^a-zA-Z]/)) {
          // If there are non-letter characters, show the warning
          document.getElementById(warningId).style.display = 'inline';
        } else {
          // If there are only letters, hide the warning
          document.getElementById(warningId).style.display = 'none';
        }
      });
    });

</script>
</body>
</html>
